@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-primario: #a00c39;
    --color-secundario:#e4ecf3; 
    --color-terciario: #9db0c0;

    --fuente-montserrat:'Montserrat', sans-serif;
    --fuente-krona:'Krona One', sans-serif;

}


* {
    padding: 0;
    margin: 0;
}

body {
    background-color:var(--color-primario);
    box-sizing: border-box;
    color:var(--color-secundario);
    
    
}

.header {
    padding: 2% 0% 0% 10%;
    border-radius: 15px;
    background-color: #a11644; /* Color de fondo */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
}

.header--menu {
    display: flex;
    gap: 80px;
    align-items: center; /* Centrar verticalmente */
}

.header-menu-link {
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
    padding: 15px 20px; /* Ajustar el padding */
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.header-menu-link:hover {
    background-color: var(--color-hover); /* Color de fondo al pasar el ratón */
    color: var(--color-blanco); /* Color del texto al pasar el ratón */
}






.titulo-destaque{
    color: var(--color-terciario);
}

.presentacion{
    display: flex;
    align-items: center;
    margin: 8% 10% ;
    justify-content: space-between;
    gap: 82px;
}

.presentacion-contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion-contenido-titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.texto-presetacion{
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.presentacion-enlace{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion-subtitulo{
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.boton-presentacion{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: 'Montserrat', sans-serif;
    border: 2px solid var(--color-terciario);  
    display: flex;
    justify-content: center;
    gap: 10px;
}

.boton-presentacion:hover{
    background-color: #272727;
    
}


.presentacion-imagen{
    width: 50%;

}


/*    FOOTER     */


.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: #000000;
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

.texto-presetacion-list a{
    text-decoration: none;
}

/*MEDIA QUERIS PARA HACER RESPONSIVO EL SITIO WEB*/

@media (max-width: 1200px){
    
    .header{
        padding: 10%;
    }

    .header--menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion-contenido{
        width: auto;
    }
}